body {
    background-color: #000; 
    color: #fff; 
    overflow-x: hidden;
}


header {
    background-color: #000000;
    color: #fff;
    padding: 1.5vw 0;
    /* position: fixed; */
    display: flex;
    width: 100%;
    font-family: 'amiri';
    z-index: 22;
    justify-content: space-between;
}

header img {
    width: 19.2vw;
    height: 6vw;
}

nav ul li {
    display: inline;
    margin: 2.5vw;
    background-color: #000000;
    position: relative;
    left: -10vw;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5vw;
}






form {
    max-width: 50vw; /* Assuming 1rem = 1vw */
    margin: 0 auto;
    margin-top: 10vw; /* Adjust as needed */
}

label {
    display: block;
    margin-bottom: 2vw;
}

input[type="text"],
input[type="email"],
input[type="password"] {
        width: 100%;
        padding: 1vw;
        margin-bottom: 1vw;
        border: 0.5vw solid #ccc;
        border-radius: 3.5vw;
        background-color: rgba(160, 160, 160, 0.24);
        color: white;
    
}

input[type="submit"] {
    background-color: white;
    color: black;
    padding: 1vw 3vw;
    border: none;
    border-radius: 2.5vw;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #686868;
    color: white;
}

footer {
    width: 100vw;
    height: 10.4167vw; 
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.04167vw;
    margin-top: 7.8125vw;
    align-items: center;
}

@media (max-width: 768px){
    
    header img {
        width: 19.2vw;
        height: 6vw;
        position: relative;
        top: 5vw;
    }
    footer {
        width: 100vw;
        height: 10.4167vw;
        margin: auto;
        color: white;
        display: flex;
        justify-content: space-around;
        font-size: 1.04167vw;
        margin-top: 42.8125vw;
        align-items: center;
    }
    #aaa{
        display: none;
    }
}
